// Global size
$global-margin-padding: 20px;
$width-global-page-with-aside: 84%;
$width-aside: 16%;
$logo-site-width: 140px;
$width-img: 100%;

// Titre size
$h1-size: 28px;
$h2-size: 24px;
$h3-size: 20px;
$h4-size: 12px;
$p-size: 14px;

// Component music
$music-typography: 18px;

// Component artist
$artist-img-width: 100px;
$artist-img-border: 50px;

// Component button
$button-border: 20px;

$color-circle-width-height: 50px;
$color-circle-border: 50%;

$password-toggle-width: 20px;

// Component flow-item
$flow-item-width: 100px;
$flow-item-border: $color-circle-border;

$play-button-width: 20px;

$carousel-item-img: 50px;

$loup-icon-with: 20px;
$loup-icon-margin: 10px;
