@import '../partials/color';

ul{
  list-style: none;
}

#site-nav {
  display: flex;
  margin: 0;
  padding: 0;

  & li {
    padding: 0.5em;
    display: block;
    color: $li-color;

    & a{
      color: $li-color;

      &.active{
        color: $a-color;
      }

      &:hover{
        color: $a-color;
      }
    }
  }
}

@media screen and (max-width: 1000px) {

  #site-nav {
    flex-direction: column;
    background-color: $aside-background-color;
    position: absolute;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    transition: right 1s;
    justify-content: center;
    align-items: center;
    z-index: 9;

    & li {
      padding: 0.5em;
    }

    &.active {
      right: 0;
    }
  }
}