@import '../partials/color';
@import '../partials/font';

aside {
  background-color: $aside-background-color;
  width: $width-aside;
  position: fixed;
  height: -webkit-fill-available;
}

@media screen and (max-width: 1000px) {
  aside{
    background: transparent;
    width: 0;
    z-index: 10;
    position: inherit;
  }
}